<h1>Listing deals</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Due date</th>
      <th>Payment type</th>
      <th>Invoice number</th>
      <th>Shipping cost</th>
      <th>Vat</th>
      <th>Payment status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.customer %></td>
        <td><%= deal.date %></td>
        <td><%= deal.price %></td>
        <td><%= deal.deposit %></td>
        <td><%= deal.due_date %></td>
        <td><%= deal.payment_type %></td>
        <td><%= deal.invoice_number %></td>
        <td><%= deal.shipping_cost %></td>
        <td><%= deal.vat %></td>
        <td><%= deal.payment_status %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_organization_deal_path(@organization, deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_organization_deal_path(@organization) %>
