<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @organization.artist %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @organization.customer %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
