<div class="center-block">

<%= simple_form_for (@artwork), defaults: { input_html: { class: 'form-horizontal' } } do |f| %>

  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
        <% @artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "form-group">
    <%= f.fields_for :pictures, @picture do |picture_form| %>
      <%= picture_form.file_field :picture %>
    <% end %>
  </div>

    <%= f.input :title %>

    <%= f.input :artist_id, collection: @artists_list, include_blank: 'Select Artist', label: false %>

  <div class="btn-group">
    <p><%= link_to 'Add a new artist', new_artist_path, class: "btn btn-success" %></p>
  </div>

  <%= f.input :year %>

  <%= f.input :on_website, as: :boolean, label: 'display on website' %>

  <%= f.input :bibliography %>

  <%= f.input :condition_report %>

  <%= f.input :edition_type %>

  <%= f.input :provenance %>

  <%= f.input :signature %>

  <%= f.input :medium %>

  <%= f.input :comment %>

  <%= f.input :height %>

  <%= f.input :width %>

  <%= f.input :depth %>

  <%= f.input :estimation %>
<!-- 
  <div class="field">
    <%= f.label :order_status %><br>
    <%= f.text_field :order_status %>
  </div>
  <div class="field">
    <%= f.label :bibliography %><br>
    <%= f.text_area :bibliography %>
  </div>
  <div class="field">
    <%= f.label :condition_report %><br>
    <%= f.text_area :condition_report %>
  </div>
  <div class="field">
    <%= f.label :edition_type %><br>
    <%= f.text_field :edition_type %>
  </div>
  <div class="field">
    <%= f.label :provenance %><br>
    <%= f.text_field :provenance %>
  </div>
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :depth %><br>
    <%= f.number_field :depth %>
  </div>
  <div class="field">
    <%= f.label :estimation %><br>
    <%= f.number_field :estimation %>
  </div>

 -->  <div>
    <h4>Item details</h4>
  </div>

<!--   <div>
    <%= f.fields_for :items, @item do |item_form| %>
      <%= f.label :edition %><br>
      <%=  item_form.text_field :edition %> <br>
      <%= f.label :location %><br>
      <%=  item_form.text_field :location %> <br>
      <%= f.label :entry_date %><br>
      <%=  item_form.date_select :entry_date %> <br>
    <% end %>
  </div> -->

  <%= f.button :submit, class: 'btn btn-warning' %>

<% end %>

</div>
