<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @artwork.year %>
</p>

<p>
  <strong>On website:</strong>
  <%= @artwork.on_website %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @artwork.order_status %>
</p>

<p>
  <strong>Bibliography:</strong>
  <%= @artwork.bibliography %>
</p>

<p>
  <strong>Condition report:</strong>
  <%= @artwork.condition_report %>
</p>

<p>
  <strong>Edition type:</strong>
  <%= @artwork.edition_type %>
</p>

<p>
  <strong>Provenance:</strong>
  <%= @artwork.provenance %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @artwork.signature %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @artwork.medium %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @artwork.comment %>
</p>

<p>
  <strong>Height:</strong>
  <%= @artwork.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @artwork.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @artwork.depth %>
</p>

<p>
  <strong>Estimation:</strong>
  <%= @artwork.estimation %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= link_to "#{@artwork.artist.name}", artist_path(@artist)  %>
</p>
