<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Vat number:</strong>
  <%= @artist.vat_number %>
</p>

<p>
	<strong>My artworks:</strong>
	<% @artist.artworks.each do |artwork| %>
		<li><%= link_to "#{artwork.title}", organization_artist_artwork_path(@organization, artwork.artist_id, artwork.id) %></li>
	<% end %>
</p>

<p><%= link_to 'Add a new artwork', new_organization_artwork_path(current_user.organization_id)%></p>

<%= link_to 'Edit', edit_organization_artist_path(@organization, @artist) %> |
<%= link_to 'Back', organization_artists_path(@organization) %>
