

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Vat number:</strong>
  <%= @artist.vat_number %>
</p>

<p>
	<strong>My artworks:</strong>
	<% @artist.artworks.each do |artwork| %>
		<li><%= link_to "#{artwork.title}", artwork_path %></li>
	<% end %>
</p>

<p><%= link_to 'Add a new artwork', new_artwork_path%></p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path() %>
